body {
    background: #111;
    color: #ffffff;
  }

  h1{
      position: absolute;
      top: 0px;
      left: 31.5%; 
  }
  h2{
    position: absolute;
    top: 0px;
    left: 21%;
  }
  
  button{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 22.4%;
    left: 10%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
  }


  #board {
    background-color: rgba(87, 32, 11, 0.938);
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
  }

  #Card1 {
    position: absolute;
  top: 22%;
  left: 22.4%;
  outline-width: 5px;
  outline-color: black;
  outline-offset: -4px;
  outline-style: solid
;  /*border-width: 5px;
  border-style: solid;
  offset-position: 5px;
  border-color: black;*/

}

#Card2 {
    position: absolute;
    top: 22%;
    left: 33.6%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}
#Card3 {
    position: absolute;
    top: 22%;
    left: 44.8%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}

#Card4 {
    position: absolute;
    top: 22%;
    left: 56%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}
#Card5 {
    position: absolute;
    top: 22%;
    left: 67.2%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}

#Card6 {
    position: absolute;
    top: 64.5%;
    left: 22.4%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}

#Card7 {
    position: absolute;
    top: 64.5%;
    left: 33.6%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}
#Card8 {
    position: absolute;
    top: 64.5%;
    left: 44.8%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}

#Card9 {
    position: absolute;
    top: 64.5%;
    left: 56%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}
#Card10 {
    position: absolute;
    top: 64.5%;
    left: 67.2%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
}
#Logo{
  position: absolute;
    top: 1.5%;
    left: 68%;
  width: 90px;
  height: 90px;
}


#Score{
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  border:0px solid;
  border-radius:10px;
  background-color:rgb(182, 202, 255);
  width:85px;
  height:35px; 
  position: absolute;
    top: 2%;
    left: 25.5%;

}

