body {
    background: #111;
    color: #ffffff;
  }

  h1{
      position: absolute;
      top: 0px;
      left: 31.5%; 
  }
  h2{
    position: absolute;
    top: 0px;
    left: 21%;
  }

  /*button{
    width: 100px;
    height: 100px;
    position: fixed;
      top: 22.4%;
      left: 10%;
    outline-width: 5px;
    outline-color: black;
    outline-offset: -4px;
    outline-style: solid
  }*/

#CardStacker{
  width: 1500px;
  height: 900px;
  position: fixed;
  top: 15.7%;
  left: 0.65%;
}



button{
  position:relative;
  top: 0%;
  left: 0%;
  }


  #board {
    background-color: rgba(87, 32, 11, 0.938);
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
  }


#Logo{
  position: absolute;
    top: 1.5%;
    left: 68%;
  width: 90px;
  height: 90px;
}


#Score{
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  border:0px solid;
  border-radius:10px;
  background-color:rgb(182, 202, 255);
  width:85px;
  height:35px; 
  position: absolute;
    top: 2%;
    left: 25.5%;

}

